<h1>Members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <!-- <th>Premium Member?</th> -->
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.member_name %></a></td>
    <td><%= member.email %></td>
    <!-- <td><%= member.premium_membership %></td> -->
  </tr>
  <% end %>
</table>
