<h2>Register a New Member</h2>

<form action="/members" method="post">

  <label for="member_name">Name:</label>
  <input type="text" name="member_name">

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="premium_membership">Premium Membership:</label>
  <select name="premium_membership">
    <option value="t">Yes</option>
    <option value="f">No</option>
  </select>
    <input class="btn btn--confirm" type="submit" value="Register Member">

</form>
<br><br>

<iframe src="https://giphy.com/embed/avBQaycK2YH7y" width="240" height="240" frameBorder="0"></iframe>

<h3>Welcome to the team!</h3>
