<h1>Book a Class Here - Select a Member:</h1>

<form action="/bookings/new/<%= member.id %>" method="get">
  <!-- should this be get? -->

  <label>
    Select a member:
    <select name="member_id">
      <% for member in @members %>
      <a href="/bookings"></a>
      <option value="<%= member.id %>"><%= member.member_name %></option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Confirm Member">
  <!-- how do i get this form to link to the new.erb page? -->

  </form>



  <%# <!-- <h1>Book a Class Here - Select a Class:</h1>

  
