body {
  background: black url('/images/expendables.jpg');
  background-size: 100%;
  font-family: 'Cardo', serif;
}

h1, h3 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 /* font-size: 3em; */
 color: #ffce00;
}

.navbar a {
  color: white;
  display: flex;
  flex-direction: row;
}
